{% extends "base.html" %}

{% block body_id %}home{% endblock %}


{% block content %} 
		<div class="span3">
			<div id="log-sidebar">
				<div class="italic-heading">
				<h4><i>recently played</i></h4>
				</div>
				
				 {% for log in logs %}
                    {% ifchanged log.dj %}
                        <div class="dj"></div>
                    {% endifchanged %}
                    <div class="log">
							<div class="log-text">
								<div class="song-name">{{ log.track.name }}</div>
								<div class="album-name">{{ log.album.name }}</div>
								<div class="artist-name">{{ log.artist.name }}</div>
							</div>
					</div>
                    {% endfor %}
			</div>
		</div>
		<div class="span6">
			
			
			
			
			
			<div id="spotlight">
				<div id="featured-content">
					<div id="featured-slider">
						<div class="fea-slides" style="position: relative;">
							{% for post in featured_content %}
						 
							<div class="slide_item" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 478px; height: 270px;">
								<div class="featured-media">
									<a href="http://google.com" rel="bookmark"><img src="{{post.coverImage.url}}" class="media" alt="" title=""></a>
									<div class="postteaser">
										<h2 class="posttitle">
											<a href="http://google.com" rel="bookmark" title="Permalink to USGA working to require syllabus online">{{post.title}}</a>
											
										</h2>
										<p>Some more text</p>
									</div>
								</div>
							</div><!-- .slide-item -->
							{%endfor%}
							





								</div><!-- .fea-slides -->

						<div id="fea-nav">
							<ul id="featured-nav">
							<li class="">
									<a href="#">
										<img src="{{ MEDIA_URL }}/img/wluw.gif" class="fea_thumb" alt="" title=""></a>
									</li>
												<li class="">
									<a href="#">
										<img src="{{ MEDIA_URL }}/img/wluw.gif" class="fea_thumb" alt="Some alt text" title="SOme title">				</a>
									</li>
												<li class="">
									<a href="#">
										<img src="{{ MEDIA_URL }}/img/wluw.gif" class="fea_thumb" alt="New Wellness Center slated for Baumhart Hall" title="New Wellness Center slated for Baumhart Hall">				</a>
									</li>
												<li class="activeSlide">
									<a href="#">
										<img src="i{{ MEDIA_URL }}/img/wluw.gif" class="fea_thumb" alt="" title="Some title">				</a>
									</li>
												<li class="last">
									<a href="#">
										<img src="{{ MEDIA_URL }}/img/wluw.gif" class="fea_thumb" alt="" title="Some title"></a>
									</li>
										</ul>
							<div class="clear"></div>
						</div><!-- /nav -->	

					</div>
				</div>
			</div>
			<br/><br/><br/><br/>
		       
		    <script type="text/javascript"> 
		    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		    </script> 
		    <script type="text/javascript"> 
		    try{
		    var pageTracker = _gat._getTracker("UA-11881354-1");
		    pageTracker._trackPageview();
		    } catch(err) {}
		    </script>
			<div id="upcoming-shows">
				
					<div class="italic-heading"><h3><i>upcoming shows</i></h3></div>
					 {% for spot in next_spots %}
					<div class="show">
						<div class="description">
							<div class="time">
								{{ spot.to_datetime|date:"g:ia" }}
							</div>
							<div class="show-description">
								<div class="name">
									<a href="{{ spot.show.get_absolute_url }}" title="{{ spot.show }}">{{ spot.show }}</a> with
									<a href="{{ spot.dj.get_absolute_url }}" title="{{ spot.dj }}">{{ spot.dj }}</a>
								</div>

								<div class="show-description">
	                                <p>{{ spot.show.blurb }}</p>
								</div>
								
							</div>
						</div>
					</div>
                    {% endfor %}
			</div>
		</div>
		<div class="span3">
			<div class="sidebar-donate">
				<a href="https://secure2.convio.net/luc/site/Donation2?1900.donation=form1&idb=686504639&df_id=1900"><img src="{{ MEDIA_URL }}/img/donateblack.gif" width="154" height="157" alt="Donateblack"></a>
			</div>
			<img src="{{ MEDIA_URL }}/img/sidebar-ad.png" width="220" height="353" alt="Sidebar Ad">
		</div>
{% endblock %}
